* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #fefefe !important;
}

.navbar-dark {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
}

.nav-link:hover {
  font-family: "Poppins";
  font-weight: 700;
  color: #f52917 !important;
}

.link {
  text-decoration: none;
}

.de-aluno {
  background-color: #0103ab;
  height: 50%;
  width: 100%;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 75px;

  line-height: 75px;

  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 18px 11px rgba(1, 3, 171, 0.25);
  font-weight: 700;
}

.search-card {
  background-color: #fff;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.27);
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.search-card:hover {
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.5);
}

.subject {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: blue;

  color: white;
  font-size: 3rem;
}

.color-grey {
  color: #8b8b8b;
}

.search-body p {
  font-size: 16;
  margin-left: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  color: black;
  white-space: nowrap;
}

.search-body {
  color: black !important;
}

.search-body h4 {
  font-weight: 600;
  margin-left: 1rem;
  color: black;
}

.btn-blue {
  background-color: #0103ab !important;
  color: white !important;

  font-weight: 700 !important;
  margin-right: 2rem;
}

.btn-red {
  background-color: #f52917 !important;
  color: white !important;

  font-weight: 700 !important;
}

.bg-blue {
  background-color: #0103ab;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 40px;
  padding: 1rem;
  height: 130px;
  margin-bottom: -2.4rem;
}
.color-blue {
  background-color: #0103ab;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card-edit {
  background-color: #fff;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.6);
}

.dev-title {
  font-size: 30px;
  font-weight: 700;
}

.dev-text {
  width: 90%;
}

.exams-mobile {
  display: none !important;
}

.personalized-card {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.login-left {
  background-color: #0103ab;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  flex-direction: column;
}

.login-right {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 70%;
  justify-self: center;
  height: 100%;
  margin-top: 50px;
}

.body-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-login {
  display: flex;
  width: 100%;
  gap: 4px;
}

.btn-oauth {
  background: #f6f6f6;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;

  transition: 0.2s;
}

.btn-oauth img {
  width: 32px;
}

.btn-oauth:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 40%;
}

@media (max-width: 768px) {
  .de-aluno {
    font-size: 40px;
    line-height: 40px;
    height: 100%;
  }

  .dev {
    align-items: center;
  }

  .dev-title {
    text-align: center;
  }

  .exams {
    display: none !important;
  }

  .exams-mobile {
    display: flex !important;
  }
}
